apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-deployment
  namespace: search-service
  labels:
    app: search
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search
  template:
    metadata:
      labels:
        app: search
    spec:
      containers:
      - name: search
        image: search:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8083
        envFrom:
        - configMapRef:
            name: search-config
